@tailwind base;
@tailwind components;
@tailwind utilities;




/* defining the base css here  */

@layer base {
    /* body{ @apply flex flex-col min-h-screen w-full overflow-scroll } */
    body {
      @apply sm:w-full md:w-full lg:w-full xl:w-full;
    }
  
    footer {
      @apply fixed bottom-0 bg-slate-200 sm:w-full md:w-full lg:w-full;
    }
    button {
      @apply h-[40px] leading-5 align-middle cursor-pointer rounded-[3px];
    }
    input {
      @apply block w-full;
    }
    textarea {
      @apply block w-full;
    }
  }


  @layer components {
    
    .crelative:hover .cabsolute {
      display: block;
    }
    .cabsolute:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -10px;
      left: 50%; 
    }
    .btn { @apply flex items-center justify-center p-4 }
    .btn-sm { @apply h-[30px] text-sm font-Poppins font-normal }
    .btn-text { @apply text-center font-Quicksand text-[16px] font-normal text-black }
    .input-sm { @apply px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition
                    ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none }
    .input-md { @apply px-2 py-2 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded-[3px] transition
        ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:outline-none focus:border-green-900 }

    .select-sm {
      @apply w-full block px-4 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
    }
    .select-md { @apply w-full px-2 py-2 pb-[0.4rem] text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition
      ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:outline-none duration-500}

    .category { @apply h-[350px] text-[#4f5355]}
    .tender { @apply w-full }
    .company { @apply w-full h-[500px] shadow-[inset_0px_0px_0px_0px_#00000024]}
 
    /* table css */
    .table { @apply w-full font-Poppins text-[14px] bg-[#ffffff] m-0 cursor-pointer text-sm } 
    .table-border { @apply w-full border-zinc-500 font-Poppins text-[14px] cursor-pointer text-sm text-left }    
    .table-border > thead { @apply border-t-[1px] border-b-[1px]; }
   
    /* custom css for the table thead  */
    .table > thead > tr > th { @apply font-normal py-2 px-4 border-[1px] border-b-2 border-gray-300 text-left; }
    .table > thead { @apply border-t-[1px] border-b-[1px] py-2; }
   
    /* HRM styling*/
    .hrm-branch-table { @apply h-[65vh] border-[1px] overflow-y-scroll}
    .hrm-branch-table > .table > thead { @apply  border-b-[1px] bg-opacity-40}
    .hrm-branch-table > .table > thead > tr > th { @apply border-none border-b-[1px] py-3 px-5 font-Rubik text-[#0b2239] font-semibold text-opacity-70}
    .hrm-branch-table > .table > tbody  { @apply border-b-[1px] px-5}
    .hrm-branch-table > .table > tbody > tr > td  { @apply border-none py-2}
    .hrm-branch-table > .table > thead > tr > th:first-child { @apply w-[5%] whitespace-nowrap }

    

    .hrm-designation-table { @apply h-[550px] px-3 overflow-y-scroll}
    .hrm-designation-table > .table > thead { @apply  bg-opacity-40 border-[1px] }
    .hrm-designation-table > .table > thead > tr > th { @apply border-none py-2 font-Rubik text-[#0b2239] font-semibold text-opacity-70}
    .hrm-designation-table > .table > tbody  { @apply border-[1px]}
    .hrm-designation-table > .table > tbody > tr > td  { @apply border-none py-2}
    

    .payroll { @apply h-[60vh]  bg-white overflow-y-scroll}
    .payroll > .table > thead > tr > th { @apply bg-white text-center text-[13px] border border-gray-200 text-[#333] text-opacity-75 }
    .payroll > .table > thead > tr:first-child > th:nth-child(2){@apply bg-[#e7f3ff]}
    .payroll > .table > thead > tr:first-child > th:nth-child(3){@apply bg-[#cffeeb]}
    .payroll > .table > thead > tr:first-child > th:nth-child(4){@apply bg-[#ffdad2]}
    .payroll > .table > thead > tr:last-child > th:nth-child(3), 
    .payroll > .table > thead > tr:last-child > th:nth-child(4),
    .payroll > .table > thead > tr:last-child > th:nth-child(5) {@apply bg-[#f9fcff] text-[12px]}
    .payroll > .table > thead > tr:last-child > th:nth-child(6) {@apply bg-[#f3fffa]}
    .payroll > .table > thead > tr:last-child > th:nth-child(6) {@apply bg-[#f3fffa]}
    .payroll > .table > thead > tr:last-child > th:nth-child(7) {@apply bg-[#fff6f4]}

    .payroll > .table > tbody > tr > td {@apply border py-2 text-[#333] text-[14px] text-opacity-90}
    .payroll > .table > tbody > tr:hover {@apply bg-black}
    
    .payroll .table-striped > tbody > tr:nth-of-type(odd) { @apply bg-white }
    .payroll > .table-striped > tbody > tr:nth-of-type(even) { @apply bg-[#fff] }

    .salary_component, .tax, .strucutre { @apply bg-white overflow-y-scroll border } 
    .salary_component > .table > thead > tr,
    .tax > .table > thead > tr{
       @apply relative
    }
    .salary_component > .table > tbody > tr { @apply border-b-[1px]}
    .salary_component > .table > tbody > tr > td { @apply border-none border-b-[1px] py-2 text-[#333] text-opacity-40 text-[13px]}
    .tax > .table > tbody > tr > td { @apply border-b-[1px] py-2}
  

    .salary_component > .table > thead > tr > th { @apply border-none py-3 px-5 font-Rubik leading-[1.2] text-[#0b2239] text-opacity-70 bg-gray-50 text-[13px]}
    .tax > .table > thead > tr > th  { @apply border-none py-3 px-5 font-Rubik tracking-wide leading-[1.2] text-[#0b2239] font-bold text-opacity-70 bg-[#f6f6f6]}
    .salary_component > .table > thead > tr > th:last-child { @apply w-[3%]}
    .salary_component > .table > tbody > tr > td:nth-child(2) {@apply px-0}
    .salary_component > .table > tfoot > tr > td {@apply py-2}

    .salary_component .table-striped > tbody > tr:nth-of-type(odd), 
    .salary_component > .table-striped > tbody > tr:nth-of-type(even) { @apply bg-white }
    

    .tax .table-striped > tbody > tr:nth-of-type(odd) { @apply bg-white }
    .tax > .table-striped > tbody > tr:nth-of-type(even) { @apply bg-[#f6f6f6] }
    
    /* .strucutre { @apply h-[65vh] border-[1px] overflow-y-scroll} */
    .strucutre > .table > thead { @apply  border-b-[1px] bg-opacity-40}
    .strucutre > .table > thead > tr > th { @apply border-none py-3 px-5 font-Rubik leading-[1.2] text-[#0b2239] text-opacity-70 bg-gray-50 text-[13px]}
    .strucutre > .table > tbody > tr > td { @apply border-none border-b-[1px] py-2 text-[#333] text-opacity-40 text-[13px]}
    .strucutre > .table > tbody  { @apply border-b-[1px] px-5}
    .strucutre > .table > tbody  { @apply border-b-[1px] px-5}
    .strucutre > .table > thead > tr > th:last-child { @apply w-[3%]}

    .applicant_table > .table > thead { @apply  border-b-[1px] bg-opacity-40}
    .applicant_table > .table > thead > tr > th { @apply border-none py-3 px-5 font-Rubik leading-[1.2] text-[#0b2239] text-opacity-70 bg-gray-50 text-[13px]}
    .applicant_table > .table > thead > tr > th:first-child,
    .applicant_table > .table > tbody > tr > td:first-child { @apply w-[3%] px-0}
    .applicant_table > .table > tbody > tr > td { @apply border-none border-b-[1px] py-2 text-[#333] text-opacity-40 text-[13px]}
    .applicant_table > .table > tbody > tr  { @apply border-b-[1px] px-5}
    .applicant_table > .table > tbody  { @apply border-b-[1px] px-5}
  
    .applicant_table .table-striped > tbody > tr:nth-of-type(odd),
    .applicant_table > .table-striped > tbody > tr:nth-of-type(even) { @apply bg-white }

     /* end of the custom css for the table tbody  */
    .table > :not(caption) > * > * {
      padding: 0.5rem 0.5rem;
      background-color: var(--bs-table-bg);
      border-bottom-width: 1px;
      box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
    .table > tbody > th,
    .table > tbody td {
      @apply font-normal;
    }
   
    .table-striped > tbody > tr:nth-of-type(odd) { @apply bg-[#eee] }
    .table-striped > tbody > tr:nth-of-type(even) { @apply bg-white }

    input[type="text"]:focus ~ .input-text,
    input[type="password"]:focus ~ .input-password,
    input[type="text"]:not(:placeholder-shown) ~ .input-text,
    input[type="password"]:not(:placeholder-shown) ~ .input-password{
        @apply text-[17px] font-Poppins transform -translate-y-5 -translate-x-2 scale-75 border-l-[1px] border-r-[1px] px-4 border-blue-600 text-blue-600;
    }
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    @apply hover:opacity-100 transform -translate-x-10;
    z-index: 10;
  }
   
  .remove-button {
    display: none;
  }
  
  .border-none {
    border: none;
  }
}